/* CSS for FourmisXBlock */

.fourmis_block .count {
    font-weight: bold;
}

.fourmis_block p {
    cursor: pointer;
}

.stage {
  background: white
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  background:black;
}

.link {
  stroke: #2176C7;
  stroke-opacity: .6;
}

.node text {
  pointer-events: none;
  stroke-opacity: .2;
  font: 20px sans-serif;

}
